/* Empty. Add your own CSS if you like */
.login-page{
	background-image: url(/img/login-bg.jpg);
	background-size: cover;

	height: 100%;

	display: flex;
	align-items: center;
}

.login-page .login-fields{
	display: flex;
	flex:100;
	flex-direction: column;
	align-items: center;
}

.login-page .login-fields.list .item{
	width: 80%;
	background-color: rgba(214,243,217,0.7);
	margin-bottom: 1em;
}


#map {
  height: 64%;
  margin-top: 23%;
  overflow: visible !important;

}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  left: 64px !important;
  top: -26% !important;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}



#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.gm-style
{
  overflow: visible !important;
}

#origin-input
{
  left:157px !important;
  width:56%;
  top: -90px !important;
  text-align: right;

}
#destination-input
{
  left:157px !important;
  width:56%;
  top: -50px !important;
  text-align: right;
}
.slider-pager
{
  visibility: hidden;
}
.item-avatar > img:first-child
{
  max-width: 45px;
  max-height: 45px;
}
.ion-chatboxes
{
  float:right;
}
